@font-face {
    font-family: 'Mushin';
    src: url('./assets/fonts/mushin.otf') format('opentype');
    font-family: 'Noto';
    src: url('./assets/fonts/NotoSansJP.ttf') format('truetype');
}



* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background:
        radial-gradient(circle,
            rgba(0, 0, 0, 0.6) 10%,
            rgba(0, 0, 0, 1) 100%),
        url('./assets/images/japan-4k.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-title img {
    width: 175px;
    transition: transform 0.3s ease;
}

.logo-title img:hover {
    transform: scale(1.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Noto", sans-serif;

}

header .title {
    display: flex;
    align-items: center;
}

nav {
    border-radius: 5px;
}

nav ul {
    list-style-type: none;

}

nav ul li {
    display: inline;
    margin-right: 10px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    position: relative;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;

}


nav ul li a:hover {
    border-bottom: 1px solid white;
}

.culture {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

nav ul li ul li {
    display: block;
    margin-top: 5px;
}

nav ul li:hover .culture {
    visibility: visible;
    opacity: 1;
}

.culture a {
    text-decoration: none;
    color: white;
}

.burger-menu-button {
    color: #C1D0B9;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    position: fixed;
    top: 0.7em;
    right: 0.7em;
    z-index: 2;
}


.burger-menu {
    /* display: none; */
    height: 0px;
    bottom: 0px;
    position: fixed;
    right: 2rem;
    top: 60px;
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: height 0.3s ease-in-out;
    z-index: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.burger-menu.open {
    height: 150px;
}

.burger-menu.openExtended {
    height: 250px;
}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    font-family: "Noto", sans-serif;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    margin-top: 50px;
}

footer img {
    height: 50px;
    transition: transform 0.3s ease;
}

footer a {
    text-decoration: none;
    color: white;
    align-self: center;
}

footer .cv {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

footer .cv:hover {
    border-bottom: 1px solid white;
}

footer img:hover {
    transform: scale(1.2);
}

section {
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
    font-family: "Noto", sans-serif;

}

.myth {
    height: 200px;
}

section h3 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

section p {
    color: white;
    text-align: center;
}

section figure {
    float: left;
    text-align: center;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}

section img {
    width: 150px;
}

figcaption {
    color: white;
    font-style: italic;
    position: absolute;
    font-size: 0.8em;
    left: 50%;
    transform: translateX(-50%);
}

.emperor {
    height: 400px;
}

section .jimmu, section .meiji {
    float: right;
    text-align: center;
    position: relative;
}

.samuraiEra, .modernEra {
    height: 300px;
}

.tokyoNow {
    height: 200px;
}



/* Media queries */

@media (max-width: 650px) {
    .burger-menu {
        left: 2rem;
        width: unset;
        display: block;
    }

    .burger-menu-button {
        display: block;
    }

    nav {
        display: none;
    }

    nav ul li {
        display: flex;
        justify-content: center;
    }

    .culture {
        left: 50%;
        transform: translateX(-50%);
    }

    footer {
        font-size: 0.8em;
        margin-top: 100px;
    }

    section, .myth, .tokyoNow {
        height: auto;
    }
}

@media (max-width: 520px) {
    .emperor, .samuraiEra, .modernEra {
        height: auto;
    }
}